*{
  box-sizing: border-box;
}
body{
  margin: 0;
}
ul{
  margin: 0;
  padding:0;
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}
.nav-list{
  margin-top: 20px;
  margin-left: 20px;
  font-size: 0px;
}
.list-item{
  display: inline-block;
  background-color: teal;
  color:white;
  border: 1px solid rgb(1, 90, 90);
  position: relative;
  font-size: 16px;
  font-family: sans-serif;
}
.link{
  display: inline-block;
  padding: 10px 30px;
}
.sub-nav-list{
  position: absolute;
  left:0;
  right: 0;
  display: none;
}
.sub-list-item{
  display: block;
  text-align: center;
  text-transform: capitalize;
}
.list-item:hover{
  background-color: rgb(1, 90, 90);
}
.list-item:hover>.sub-nav-list{
  display: block;
}